.main_my_assign_container {
  max-width: 1536px;
  margin: auto;
  padding: 0 10px;
}

.my_assign_title_container {
  background: linear-gradient(90deg, #7429eb, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 700;
}

/* No assignment message__ */

.no_attempted_assign_message {
  text-align: center;
  padding: 100px 0;
  font-size: 3rem;
  font-weight: 700;
  color: #151515;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #7429eb;
}

.no_attempted_assign_message h1 {
  background: linear-gradient(90deg, #7429eb, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Assignment content style__ */

.my_assign_card_parent_container {
  margin: 50px 0;
}

.my_assign_card_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fcfcfc;
}

/* ____________________________ */
/* ____________________________ */

.my_assign_number {
  width: 2%;
  font-size: 18px;
  font-weight: 700;
  /* border: 2px solid purple; */
}

/* ____________________________ */
/* ____________________________ */

.my_assign_card_title_container {
  width: 45%;
  /* border: 2px solid purple; */
}

.my_assign_card_title_container h2 {
  background: linear-gradient(90deg, #7429eb, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 1.4rem;
  font-weight: 600;
}

.my_assign_card_title_container p {
  font-size: 20px;
  color: #434242;
  font-weight: 500;
}

.my_assign_card_title_container p b {
  font-weight: 700;
  color: #000000;
}

/* ____________________________ */
/* ____________________________ */

.my_assign_mark_container {
  font-size: 18px;
  color: #555454;
  flex-grow: 1;
  /* border: 2px solid purple; */
}

.my_assign_mark_container b {
  font-size: 18px;
  color: #151515;
}

/* ____________________________ */
/* ____________________________ */

.my_assign_status_container {
  flex-grow: 1;
  /* border: 2px solid purple; */
}

.assign_pending_btn_style {
  padding: 5px 20px;
  border-radius: 8px;
  color: #f77647;
  background-color: #f776470c;
  border: 2px solid #f77647;
}

.assign_completed_btn_style {
  padding: 5px 20px;
  border-radius: 8px;
  color: #05ae05;
  background-color: #018f010c;
  border: 2px solid #05ae05;
}

/* ____________________________ */
/* ____________________________ */

.my_assign_file_container a {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 2px 20px;
  border-radius: 8px;
  border: 2px solid blue;
  color: blue;
}

/* Assignment message style__ */

.assignment_pending_message {
  text-align: center;
  padding: 20px;
}

.assignment_pending_message h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #434242;
}

.assignment_pending_message p {
  margin-top: 20px;
  font-size: 18px;
  color: #434242;
}

/* ____________________________ */
/* ____________________________ */

.assignment_complete_message {
  text-align: center;
}

.assignment_complete_message h1 {
  background: linear-gradient(90deg, #7429eb, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  height: 60px;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 10px;
}

.assignment_complete_message p {
  font-size: 2rem;
  color: #7429eb;
  font-weight: 700;
}

.assignment_mark_container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px;
  font-size: 2rem;
  font-weight: 700;
  color: #7429eb;
  border-radius: 8px;
  background-color: #7329eb16;
  display: inline-block;
  border: 2px solid #7429eb;
}

.feedBack_parent_container {
  text-align: left;
  margin-top: 30px;
  border-radius: 8px;
  padding: 20px;
  background-color: #7329eb0a;
  border: 2px solid #7429eb;
}

.feedBack_parent_container h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #151515;
}

.feedBack_parent_container ul {
  margin-top: 20px;
}

.feedBack_parent_container ul li {
  margin-top: 20px;
  font-size: 1.4rem;
}

/* Responsive style__ */

@media screen and (max-width: 1280px) {
  .my_assign_number {
    width: 3%;
  }
}

@media screen and (max-width: 1024px) {
  .my_assign_card_container {
    gap: 5px;
  }

  .my_assign_number {
    font-size: 16px;
  }

  .my_assign_card_title_container h2 {
    font-size: 1.2rem;
  }

  .my_assign_card_title_container p {
    font-size: 16px;
  }

  .my_assign_mark_container {
    font-size: 16px;
  }

  .my_assign_status_container {
    width: 25%;
  }

  .assign_pending_btn_style {
    font-size: 16px;
    padding: 4px 10px;
  }

  .assign_completed_btn_style {
    font-size: 14px;
    padding: 4px 9px;
  }

  .my_assign_file_container a {
    font-size: 16px;
  }

  /* Pending assignment massage__ */

  .assignment_pending_message {
    padding: 10px;
  }

  .assignment_pending_message h1 {
    line-height: 50px;
  }

  /* Assignment mark style__ */

  .assignment_complete_message p {
    line-height: 40px;
  }

  .feedBack_parent_container ul li {
    margin-top: 20px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .my_assign_card_container {
    flex-direction: column;
    gap: 15px;
  }

  .my_assign_number,
  .my_assign_card_title_container,
  .my_assign_mark_container,
  .my_assign_status_container,
  .my_assign_file_container {
    width: 100%;
  }

  .my_assign_number {
    font-size: 18px;
  }

  .my_assign_card_title_container h2 {
    font-size: 1.5rem;
  }

  .my_assign_card_title_container p {
    font-size: 20px;
  }

  /* Assignment mark style__ */

  .assignment_complete_message h1 {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 640px) {
  .my_assign_card_title_container h2 {
    font-size: 1.4rem;
  }

  /* Pending assignment massage__ */

  .assignment_pending_message h1 {
    font-size: 1.7rem;
    line-height: 40px;
  }

  /* Assignment mark style__ */

  .assignment_complete_message p {
    font-size: 1.8rem;
  }

  .feedBack_parent_container ul li {
    line-height: 30px;
    margin-top: 10px;
    font-size: 18px;
  }
}

@media screen and (max-width: 475px) {
  .my_assign_card_title_container h2 {
    font-size: 1.2rem;
  }

  .my_assign_card_title_container p {
    font-size: 18px;
  }

  /* Assignment mark style__ */

  .assignment_complete_message h1 {
    font-size: 2rem;
  }

  .assignment_complete_message p {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .feedBack_parent_container h2 {
    font-size: 1.5rem;
  }

  .feedBack_parent_container ul li {
    line-height: 30px;
    margin-top: 10px;
    font-size: 16px;
  }
}
