.main_benefit_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #151515;
}

.benefit_content_container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 50px;
  background-color: #000000;
  box-shadow: 0 0 2rem #793ef0;
}

/* Text style__ */

.benefit_text_container h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}

/* Image style__ */

.benefit_image_container {
  position: relative;
}

#benefit_web_name {
  position: absolute;
  bottom: 2%;
  right: 4%;
  font-size: 18px;
  font-weight: 700;
}

/* Responsive style__ */

@media screen and (max-width: 1536px) {
  .benefit_content_container {
    width: 70%;
  }

  .benefit_text_container h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 1280px) {
  .benefit_content_container {
    width: 75%;
  }

  .benefit_text_container h1 {
    font-size: 2.8rem;
  }

  #benefit_web_name {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .benefit_content_container {
    width: 80%;
    padding: 40px;
    gap: 20px;
    align-items: flex-end;
  }

  .benefit_text_container h1 {
    font-size: 2.4rem;
  }

  #benefit_web_name {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .benefit_text_container h1 {
    font-size: 2rem;
  }

  .benefit_text_container p {
    font-size: 14px;
    font-weight: 300;
  }
}

@media screen and (max-width: 640px) {
  .benefit_content_container {
    flex-direction: column;
  }

  .benefit_text_container h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 475px) {
  .benefit_content_container {
    padding: 20px;
  }

  .benefit_text_container h1 {
    font-size: 1.6rem;
  }

  .benefit_text_container p {
    font-size: 12px;
  }
}