.main_benefit_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #151515;
}

.benefit_content_container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 50px;
  background-color: #000000;
  box-shadow: 0 0 2rem #793ef0;
}

/* Text style__ */

.benefit_text_container h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}

/* Image style__ */ 

.benefit_image_container {
  position: relative;
}

#benefit_web_name {
  position: absolute;
  bottom: 2%;
  right: 4%;
  font-size: 18px;
  font-weight: 700;
}

/* Responsive style__ */
