/* Loading style ST__ */

.loading_parent_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.loading_container {
  gap: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.loading_container p {
  font-size: 2.5rem;
  font-weight: 700;
  color: #7429eb;
}

/* Loading style END__ */

/* Data message ST__ */

.no_data_message_container {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.no_data_message_container h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #5c5b5b;
}

.no_data_message_container p {
  font-size: 1.5rem;
  color: #151515;
}


/* Data message END__ */

.main_assignment_container {
  max-width: 1536px;
  margin: auto;
  padding: 0 10px;
}

.assignment_title_container {
  background: linear-gradient(90deg, #7429eb, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 80px;
}

/* Filter content style__ */

.assignment_filter_parent_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.assignment_filter_parent_container h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.assignment_filter_container {
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assignment_filter_container select {
  min-width: 300px;
}

/* Card content style__ */

.assignment_card_parent_container {
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  padding-bottom: 50px;
}

/* Responsive style__ */

@media screen and (max-width: 1536px) {
  .assignment_title_container {
    font-size: 2.8rem;
  }

  .assignment_filter_parent_container h2 {
    font-size: 1.6rem;
  }

  .assignment_filter_container {
    gap: 40px;
  }

  .assignment_filter_container select {
    min-width: 280px;
  }
}

@media screen and (max-width: 1280px) {
  .assignment_title_container {
    font-size: 2.6rem;
  }

  .assignment_filter_container {
    gap: 20px;
  }

  .assignment_filter_parent_container {
    gap: 20px;
    flex-direction: column;
  }

  .assignment_card_parent_container {
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .assignment_title_container {
    font-size: 2.4rem;
  }

  .assignment_filter_container select {
    min-width: 230px;
  }

  .assignment_card_parent_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .assignment_filter_container select {
    min-width: 190px;
  }
}

@media screen and (max-width: 640px) {
  .assignment_filter_container select {
    min-width: 140px;
  }
}

@media screen and (max-width: 475px) {
  .assignment_title_container {
    font-size: 1.8rem;
  }

  .assignment_filter_container {
    width: 100%;
    flex-direction: column;
  }

  .assignment_card_parent_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
