.main_pending_assign_container {
  max-width: 1536px;
  margin: auto;
  padding: 0 10px;
}

.pending_assign_title {
  background: linear-gradient(90deg, #7429eb, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 700;
}

/* Pending assign card style__ */

.pending_assign_card_container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fcfcfc;
  border: 2px solid #7429eb;
  /* ------- */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* _____________________________ */
/* _____________________________ */

.pending_assign_number {
  font-size: 22px;
  font-weight: 700;
  width: 2%;
}

/* _____________________________ */
/* _____________________________ */

.pending_assign_card_title {
  width: 45%;
  /* border: 2px solid purple; */
}

.pending_assign_card_title h2 {
  background: linear-gradient(90deg, #7429eb, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  font-weight: 700;
}

.pending_assign_card_title p {
  font-size: 18px;
}

/* _____________________________ */
/* _____________________________ */

/* .pending_assign_card_mark {
  border: 2px solid purple;
} */

.pending_assign_card_mark h2 {
  font-size: 18px;
  color: #5a5959;
  font-weight: 600;
}

.pending_assign_card_mark h2 b {
  color: #151515;
  font-weight: 800;
}

/* _____________________________ */
/* _____________________________ */

/* .pending_assign_card_status {
  border: 2px solid purple;
} */

.pending_assign_card_status button {
  font-weight: 500;
  font-size: 18px;
}

.assign_pending_status_btn {
  color: #ec4d12;
  padding: 2px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #ec4c1211;
  border: 2px solid #ec4d12;
}

.assign_completed_status_btn {
  color: #019101;
  padding: 2px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #0191010c;
  border: 2px solid #019101;
}

.none_active_assign_style {
  color: #019101;
  padding: 4px 20px;
  border-radius: 8px;
  background-color: #0191010c;
  border: 2px solid #019101;
  transition: 0.2s ease-in-out;
}

.active_assign_style {
  color: #ffffff;
  padding: 4px 20px;
  border-radius: 8px;
  border: 2px solid #019101;
  background-color: #019101;
}

/* _____________________________ */
/* _____________________________ */

/* Active__ */

/* .pending_assign_card_file {
  border: 2px solid purple;
} */

.pending_assign_active_pdf {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 3px 20px;
  border-radius: 8px;
  background-color: #0606d1;
  border: 2px solid #0606d1;
  /* ------ */
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* None Active__ */

.pending_assign_none_active_pdf {
  color: #8d8c8c;
  font-size: 18px;
  font-weight: 600;
  padding: 3px 20px;
  cursor: not-allowed;
  border-radius: 8px;
  background-color: #070799;
  border: 2px solid #0606d1;
  /* ------ */
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pending_assign_none_active_pdf a {
  cursor: not-allowed;
}

/* Mark button__ */

.assign_mark_btn {
  color: #7429eb;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 3px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #7429eb;
}

.assign_mark_btn:hover {
  background-color: #eeeded;
}

/* Transparent__ */

.transparent_assign_mark_btn {
  color: transparent;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 3px 20px;
  border-radius: 8px;
  border: 2px solid transparent;
}

/* Assignment mark modal style__ST */

.assign_mark_parent_container {
  margin-top: 20px;
}

.form_wrapper {
  background: #f6f6f6;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  color: #151515;
  box-shadow: 0 8px 24px #0000004d;
}

.form_title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 24px;
  font-weight: bold;
}

.form_section {
  margin-bottom: 20px;
}

.form_label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.form_input {
  width: 100%;
  padding: 10px;
  border: 2px solid #5d21bd;
  border-radius: 8px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
}

.form_input:focus {
  outline: none;
  border-color: #7429eb;
}

.form_total {
  background: linear-gradient(90deg, #7429eb, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.form_submit {
  margin-top: 25px;
  background-color: #5d21bd;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form_submit:hover {
  background-color: #7429eb;
}

/* Assignment mark modal style__END */

/* Responsive style__ */

@media screen and (max-width: 1280px) {
  .pending_assign_card_container {
    padding: 10px;
    gap: 10px;
  }

  .pending_assign_card_title {
    width: 40%;
  }

  .pending_assign_card_title h2 {
    font-size: 1.3rem;
  }

  .pending_assign_card_title p {
    font-size: 16px;
  }

  .pending_assign_card_mark h2 {
    font-size: 16px;
  }

  .pending_assign_card_status button {
    font-size: 16px;
  }

  .pending_assign_active_pdf {
    font-size: 16px;
  }

  .pending_assign_none_active_pdf {
    font-size: 16px;
  }

  .assign_mark_btn {
    font-size: 16px;
  }

  .transparent_assign_mark_btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .pending_assign_title {
    font-size: 2.8rem;
  }

  .pending_assign_card_container {
    padding: 10px;
    gap: 8px;
  }

  .pending_assign_number {
    width: 3%;
  }

  .pending_assign_card_title h2 {
    font-size: 1.2rem;
  }

  .pending_assign_card_status {
    width: 21%;
  }

  .pending_assign_card_status button {
    font-size: 14px;
  }

  .pending_assign_card_file {
    width: 19%;
  }

  .pending_assign_active_pdf {
    font-size: 14px;
  }

  .pending_assign_none_active_pdf {
    font-size: 14px;
  }

  .assign_mark_btn {
    font-size: 14px;
  }

  .transparent_assign_mark_btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .pending_assign_title {
    font-size: 2.6rem;
  }

  .pending_assign_card_container {
    flex-direction: column;
  }

  .pending_assign_number {
    width: 100%;
    border-bottom: 2px dashed purple;
  }

  .pending_assign_card_title {
    width: 100%;
  }

  .pending_assign_card_title h2 {
    font-size: 1.3rem;
  }

  .pending_assign_card_title p {
    font-size: 18px;
  }

  .pending_assign_card_mark {
    width: 100%;
  }

  .pending_assign_card_status {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: flex-start;
  }

  .assign_pending_status_btn {
    width: 50%;
    padding: 8px 15px;
  }

  .assign_completed_status_btn {
    width: 50%;
    padding: 8px 15px;
  }

  .none_active_assign_style {
    width: 50%;
    padding: 8px 15px;
  }

  .active_assign_style {
    width: 50%;
    padding: 8px 15px;
  }

  .pending_assign_card_file {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: flex-end;
  }

  .pending_assign_active_pdf {
    width: 50%;
    font-size: 16px;
    padding: 6px 20px;
  }

  .pending_assign_none_active_pdf {
    width: 50%;
    font-size: 16px;
    padding: 6px 20px;
  }

  .assign_mark_btn {
    width: 50%;
    padding: 6px 20px;
    font-size: 16px;
  }

  .transparent_assign_mark_btn {
    width: 50%;
    padding: 6px 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .pending_assign_title {
    font-size: 2.5rem;
  }

  .pending_assign_card_title h2 {
    font-size: 1.5rem;
  }

  .pending_assign_card_title p {
    font-size: 20px;
  }
}

@media screen and (max-width: 475px) {
  .pending_assign_title {
    font-size: 1.8rem;
  }

  .pending_assign_card_title h2 {
    font-size: 1.3rem;
  }

  .pending_assign_card_title p {
    font-size: 18px;
  }

  .assign_pending_status_btn {
    width: 50%;
    padding: 8px 5px;
  }

  .assign_completed_status_btn {
    width: 50%;
    padding: 8px 5px;
  }
}
